<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ydh.couponstao">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 服务弹窗 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 模拟操作 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACTION_NOTIFICATION_LISTENER_SETTINGS" />
    <!--
想要当前Android设备中正在运行的媒体会话的controller list
    不幸的是，此权限仅限于系统应用程序(属于系统映像的应用程序)或属于设备供应商的应用程序(即.应用签名必须与平台的签名相同).因此，对于第三方应用程序，这是不允许的
    -->
    <uses-permission
        android:name="android.permission.MEDIA_CONTENT_CONTROL"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activitys.AutoCallActivity"></activity>
        <activity android:name=".activitys.PingActivity" />
        <activity android:name=".activitys.CameraXActivity" />
        <activity android:name=".activitys.MachineLearningActivity" />
        <activity android:name=".activitys.MpAndroidChartActivity" />
        <activity android:name=".activitys.DeviceInfoActivity" />
        <activity android:name=".activitys.VoiceActivity" />
        <activity android:name=".activitys.AutoClickActivity" />
        <activity android:name=".activitys.PictureActivity" />
        <activity android:name=".activitys.JdDetailActivity" />
        <activity android:name=".activitys.HWScanActivity" />
        <activity android:name=".activitys.SearchTbActivity" />
        <activity android:name=".TestActivity" />
        <activity android:name=".activitys.H5Activity" />
        <activity android:name=".activitys.TbDetailActivity" />
        <activity android:name=".activitys.WebWiewActivity" />
        <activity android:name=".activitys.TaoBaoActivity" />
        <activity android:name=".activitys.CouponsActivity" />
        <activity android:name=".activitys.LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.FloatingService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility" />
        </service>
        <service
            android:name=".services.ScrollService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility" />
        </service>
        <!-- 小组件 -->
        <receiver android:name=".smallwidget.CommonWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/common_widget_info" />
        </receiver>
        <receiver android:name=".smallwidget.MusicWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/music_widget_info" />
        </receiver>
        <receiver android:name=".smallwidget.NewAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/new_app_widget_info" />
        </receiver>

        <activity android:name=".smallwidget.SmallWidgetActivity" />

        <service
            android:name=".smallwidget.PayAccessibility"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="location"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/pay_accessibility_config" />
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.ydh.couponstao.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name=".smallwidget.WidgetTimerService"
            android:priority="1000"
            android:process=":remote" />
        <!--
     <service
            android:name=".smallwidget.MediaControllerService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7520425448678486~8181796986" />
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr" />
    </application>

</manifest>